<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>IMovies</title>
  <link rel="stylesheet" th:href="@{../list.css}">
  <link rel="stylesheet" href="../../static/list.css">
</head>

<body>

<div class="container">
  <h1>Movies</h1>

  <div class="card">
    <div class="card-header">Movie dataset</div>

    <table>
      <thead>
      <tr>
        <th>Year</th>
        <th>Length</th>
        <th>Title</th>
        <th>Genre</th>
        <th>Popularity</th>
        <th>Awards</th>
      </tr>
      </thead>

      <tbody>
      <tr th:each="movie: ${movies}">
        <td th:text="${movie.year}">1963</td>
        <td th:text="${movie.length}">138</td>
        <td th:text="${movie.title}"><strong>8 1/2</strong></td>
        <td th:text="${movie.subject}"><span class="genre-dot"></span>Drama</td>
        <td th:text="${movie.popularity}">80</td>
        <td><span th:text="${movie.awards}" class="badge">Yes</span></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>